/* ____Importation des fichiers css____ */
@import url(./normalize.css);
@import url(./header.css);
@import url(./footer.css);




/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    /* Rajouté pour tout le site */
    font-size: 16px;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    /* rajoutés pour la couleur des textes et bordures : */
    --filter-border-color: #D9D9D9;
    --text-light-color: #FFFFFF;
    --text-dark-color: #000000;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

h1 {
    font-size: 22px;
    line-height: 25.83px;
}

h3 {
    font-size: 18px;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
}

/* p {
    font-size: 16px;
} */

button {
    background-color: transparent;
    font-size: 17px;
    font-weight: 700;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    line-height: 18.78px;
}

.card-subtitle {
    font-size: 14px;
}

/* ____Afficher plus (de Hébergements), classe plus généraliste si besoin de réutilisation pour les activités par ex____ */
.link-more {
    font-size: 18px;
    font-weight: 700;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/* ____Info-group____ */

.info-group>p {
    margin: 8px 0 35px;
}

/* ____Info-group > Search-bar____ */
.search-bar {
    display: flex;
    height: 49px;
    width: fit-content;
}

.icon-location {
    background-color: var(--main-bg-color);
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px var(--main-bg-color);
    border-radius: 15px 0 0 15px;
}

.text-location {
    width: 195px;
    font-size: 18px;
    font-weight: 700;
    padding-left: 24px;
    border-top: solid 1px var(--main-bg-color);
    border-bottom: solid 1px var(--main-bg-color);
    border-left: none;
    border-right: none;
}

.btn-location {
    background-color: var(--main-color);
    padding: 0 15px;
    border: solid 1px var(--main-color);
    border-radius: 0 15px 15px 0;

}

.btn-location span {
    font-size: 18px;
    color: var(--text-light-color);
}

.btn-location svg {
    display: none;
}

/* ____Info-group > Filter-bar____ */
.filter-bar {
    display: flex;
    align-items: center;
    margin: 35px 0;
}

.filter-bar ul {
    display: flex;
}

.filter-bar ul li {
    margin-left: 15px;
}

.filter-bar .btn-filter {
    display: flex;
    align-items: center;
    padding: 15px 19px;
    border: solid 2px var(--filter-border-color);
    border-radius: 25px;
}

.filter-bar .btn-filter:hover {
    background-color: var(--filter-bg-color);
}

.filter-bar button svg {
    margin-right: 10px;
}

/* ____Info-group > Info-bar____ */
.info-bar {
    display: flex;
    align-items: center;
    margin-bottom: 35px;

}

.info-bar svg {
    margin-right: 10px;
}




/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    /* box-sizing: border-box; */
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/* ____Hebergement ajout du style du contenu de la section____ */
.hebergements-cards {
    margin: 30px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 208px 208px;
    gap: 30px;
}

.hebergements img {
    height: 114px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements .card-content {
    padding: 9px 10px 10px;
}

.hebergements .card-txt {
    margin-bottom: 8px;
}

.hebergements .card-title {
    margin-bottom: 8px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 5px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* ____Section Activités à Marseille____ */
.activities {
    padding: 30px;
    margin: 35px 0;
}

.activities-cards {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px
}

.activities-card {
    padding: 0;
    height: 439px;

}

.activities-img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activities-card .card-title-container {
    padding-left: 19px;
    height: 59px;
    display: flex;
    align-items: center;

}




/* ____Message d'erreur pour écran<320px____ */
.error-message {
    display: none;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /* ____Responsive tablette de info-group____ */
    .filter-bar {
        display: block;
    }

    .filter-bar ul {
        margin-top: 20px;
    }

    .filter-bar ul li:first-child {
        margin-left: 0;
    }

    /* ____Responsive tablette de hebergements-and-populaires____ */
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* ____Rajouté pour corriger la taille du a p/r à la card____ */
        margin-top: 20px;
    }

    .populaires-cards a {
        width: 31.8%;
    }

    .populaires-cards .card {
        /* ____Rajouté pour corriger la taille du a p/r à la card____ */
        margin-top: 0px;
    }

    /* ____Code du Starter-code mais changeant ne correspondent pas/plus à la maquette____ */
    /* .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    } */

    /* ____Responsive tablette de activities____ */
    .activities-card {
        height: 270px;
    }

    .activities-img {
        height: 200px;
    }

    .activities-card .card-title-container {
        height: 70px;
    }

}

/* Small devices (phones, less than 768px) */
/* @media (max-width: 767.98px) { */
/* ... */
/* } */

@media (max-width: 768px) and (min-width: 320px) {
  .main-container{
    padding: 0;
  }  
}















/* Taille limite d'affichage du site : 320px */
@media (max-width:320px) {

    .main-container {
        display: none;
    }

    .error-message {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .error-message svg {
        height: 50px;
        width: auto;
    }

    .error-message p {
        text-align: center;
        padding-top: 10px;
    }

    .error-message p:first-of-type {
        margin-top: 30px;
    }
}